.card {
  border: 1px solid #f8f8f8;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin-inline: 15px;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  .favorite {
    cursor: pointer;
  }

  .plus {
    cursor: pointer;
  }
}
